{% extends "@BirkNews/home.html.twig" %}

{% block title %}Article{% endblock %}


{% block content %}
    <div id="news1">
        <img src="{{ news.imageUrl }}">
        <h2>{{ news.titre }}</h2>
        <p>{{ news.contenu }}</p>
    </div>
    <a id="back" href={{ path("birk_news_news_home")}} >BACK</a>
{% endblock %}